@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6;
}

/* Scrollbar customizado */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #10b981;
  border-radius: 14px;
}
